# Java / Maven
/backend/target/
/backend/*.log

# SQLite DB file
/backend/auth.db

# Node (if you use any tools later)
/frontend/node_modules/

# OS files
.DS_Store
Thumbs.db

# IDE settings
*.iml
.idea/
.vscode/
